:root {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* outline: 2px solid gray; */
} 

.wrapper {
    position: relative;
    display: grid;
    grid: auto / 3fr 1fr;
    min-height: 100vh;
}

h2 {
    font-family: "Press Start 2P", system-ui;
    font-size: 0.5rem;
    font-weight: 400;
    font-style: normal;
}

.book-case {
    background-image: url('./images/retro-pixel-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 300px;
    grid-column: 1;
    grid-row: 1 / -1;
    padding: 25px;
    gap: 30px;
}

div.book-entry {
    background-image: url('./images/pixel-art-book-cover.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: grid;
    place-content: center;

    width: 270px;
    height: 320px;

    text-align: center;
    font-size: 1.3rem;
}

div.book-entry .overlay {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    border-radius: 10px;
}

.add-book-form {
    background-image: url('./images/brick-wall-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    grid-column: 2;
    grid-row: 1 / -1;
}

.add-book-form input {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-size: small;
    font-style: normal;
    border: none;
    padding: 12px 20px;    
    width: 70%;
    margin: 0 0 30px 0;
}

input[type='text']:focus,
input[type='number']:focus {
    background-color: rgba(255, 248, 200, 0.838);
}

.add-book-form button[type='submit'] {
    font-family: "Press Start 2P", system-ui;
    font-weight: 600;
    font-size: 1.2rem;
    font-style: normal;
    margin-top: 50px;
    padding: 10px 20px;
    border-radius: 100px;

    background-color: burlywood;
}

.book-cover-top,
.book-cover-bottom {
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.707);
    color: burlywood;
    font-weight: bolder;
    margin-left: 30px;
}

.book-cover-bottom {
    padding: 30px;
}

.book-cover-bottom button {
    font-weight: 600;
    background-color: burlywood;
    border-radius: 100px;
    padding: 2px;
    margin: 10px 5px;
}

.add-book-form form {
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: center;

    font-weight: bolder;
    margin-top: 30px;

    height: 100vh;
}

.book-case h2,
.add-book-form h2 {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: large;
    text-align: center;
    padding: 15px;
}

.add-new-book-button {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.add-new-book-button button {
    padding: 5px 20px;
    border-radius: 100px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.yes-button,
.no-button {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-size: smaller;
    font-style: normal;
    z-index: 1;
}